<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"><style type="text/css" id="night-mode-pro-style"></style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://getbootstrap.com/favicon.ico"><link type="text/css" rel="stylesheet" id="night-mode-pro-link">

    <title>Dashboard Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/dashboard/bootstrap.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../static/dashboard/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/dashboard/dashboard.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../static/dashboard/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-9 col-md-12 main">

          <h1 class="page-header">Fraud Dashboard</h1>

          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" class="img-responsive" alt="Generic placeholder thumbnail" width="200" height="200">
              <h4>Total Cases</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <div class = "circle red"></img></div>
              <h4>High Risk</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <div class = "circle orange"></img></div>
              <h4>Medium Risk</h4>
            </div>
            <div class="col-xs-6 col-sm-3 placeholder">
              <div class = "circle yellow"></img></div>
              <h4>Low Risk</h4>
            </div>
          </div>

          <h2 class="sub-header">Fraud Cases</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Time</th>
                  <th>Severity</th>
                  <th>Event ID</th>
                  <th>Contact Info</th>
                  <th>Red Flags</th>
                </tr>
              </thead>

              <tbody>
                {% for t, s, eid, ci, rfs in data %}
                  <tr>
                    <td>{{ t }}</td>
                    <td>{{ s }}</td>
                    <td>{{ eid }}</td>
                    <td>{{ ci }}</td>
                    <td>{{ rfs }}</td>
                  </tr>
                {% endfor %}
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/dashboard/jquery.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../static/dashboard/bootstrap.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../static/dashboard/holder.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../static/dashboard/ie10-viewport-bug-workaround.js"></script>


</body></html>
